@import '../../main-styles.scss';

.is-primary, .is-danger {
  background-color: $purple;

  &:hover {
    background-color: darken($purple, 3%);
  }
}

p.help {
  background-color: transparent;
  font-family: 'Saira', sans-serif;

  &:hover {
    background-color: transparent;
  }
}


