<section class="budget-items-list">
  <div class="budget-items-container">

    <div class="income-column">
      <h1>Income</h1>

      <div class="budget-items">
        <div *ngFor="let item of budgetItems">
          <budget-item-card
            *ngIf="item.amount >= 0"
            [item]="item"
            (onXButtonClick)="onDeleteButtonClick(item)"
            (cardClick)="onCardClick(item)"
            style="display:block; margin-bottom: 10px;"></budget-item-card>
        </div>
        </div>
      </div>

    <div class="expenses-column">
      <h1>Expenses</h1>

      <div class="budget-items">
        <div *ngFor="let item of budgetItems">
          <budget-item-card
            *ngIf="item.amount < 0"
            [item]="item"
            (onXButtonClick)="onDeleteButtonClick(item)"
            (cardClick)="onCardClick(item)"
            style="display:block; margin-bottom: 10px;"></budget-item-card>
        </div>
        </div>
      </div>

  </div>
</section>
