@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600&display=swap');
@import '../../main-styles.scss';

.top-bar {
  display: flex;
  width: 100%;
  height: 68px;
  background: linear-gradient(75deg, rgb(214, 180, 247), rgb(173, 203, 231));

  // Horizontally and vertically center the text
  justify-content: center;
  align-items: center;

  h1 {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    // In order to use the variable $dark we need to import the scss file in which it was defined into the current scss file
    color: $dark;
  }
}
.total-budget-section {
  display: flex;
  height: 250px;
  background: $dark;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 58px;
    color: white;

    &.green {
      color: $green;
    }

    &.red {
      color: $red;
    }
  }
}

.add-item-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .add-item-container {
      width: 680px;
  }
}


